@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --navbar-color: #FFFFFF;
  --main-bg-color: #FFFFFF;
  --main-bg-light-gray-color: #F4F6FB;
  --main-text-color: #000000;
}

.dark-theme {
  --navbar-color: #000000;
  --main-bg-color: #050519;
  --main-bg-light-gray-color: #282C34;
  --main-text-color: #FFFFFF;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  max-width: 1440px;
  max-height: 900px;
  margin-bottom: 150px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.navbar {
  width: 100%;
  background-color: var(--navbar-color);
  max-height: 88px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__header {
  flex-basis: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu .navbar__item {
  margin-left: 56px;
}
.navbar__menu .navbar__item a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.hamburger {
  width: 100%;
  display: none;
}

.hamburger__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__right {
  display: flex;
  gap: 24px;
}

.hamburger__btn {
  background-color: #F4F6FB;
  height: 28px;
  width: 78px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}
.hamburger__btn:hover {
  cursor: pointer;
  background-color: #d6d6d6;
  transition: 0.5s;
}

.main-content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 837px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .content__img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin: -12px;
}
.content .content__title {
  font-size: 24px;
  font-weight: 500;
}
.content .content__detail {
  letter-spacing: 4px;
  line-height: 85px;
  margin: -8px 0;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}
.content .content__description {
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0 60px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 35px;
  color: #2C2C2E;
}
.content .content__description a {
  color: #3040E5;
}
.content .content__buttons {
  margin: 38px 0;
  display: flex;
  gap: 30px;
}
.content .content__buttons .content__button-hello {
  width: 167px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 43px;
  border: none;
  background-color: #3040E5;
}
.content .content__buttons .content__button-hello:hover {
  box-shadow: 0 0 20px 2px #a5a5a5;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}
.content .content__buttons .content__button-download-cv {
  width: 167px;
  height: 40px;
  color: #000000;
  font-size: 14px;
  border-radius: 43px;
  border: none;
  background-color: #F4F6FB;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.content .content__buttons .content__button-download-cv:hover {
  box-shadow: 0 0 20px 2px #a5a5a5;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}
.content .content__social-links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.content .content__social-links .content__social-icon {
  width: 45px;
  height: 45px;
  background-color: #F4F6FB;
  border-radius: 50%;
  position: relative;
}
.content .content__social-links .content__social-icon:hover {
  box-shadow: 0 0 5px 3px #aaaaaa;
  transition: 0.3s ease;
}
.content .content__social-links .content__social-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  width: 100%;
  padding: 5rem 0;
  background-color: var(--main-bg-light-gray-color);
  color: var(--main-text-color);
}

.container {
  max-width: 1148px;
  margin: auto;
}

.container__child {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container__child .container__right {
  width: 100%;
}
.container__child .container__right img {
  width: 100% w;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__left {
  padding: 140px 80px;
}
.container__left button {
  width: 167px;
  height: 40px;
  color: #000;
  font-size: 14px;
  border-radius: 43px;
  border: none;
  background-color: #282C34;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container__left button:hover {
  box-shadow: 0 0 20px 2px #a5a5a5;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}
.container__left .container__left-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container__left .container__left-description {
  font-size: 18px;
  font-weight: 500;
  color: #2C2C2E;
}
.container__left .container__left-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  cursor: pointer;
}
.container__left .container__left-btn {
  margin-top: 40px;
  width: 167px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 43px;
  border: none;
  background-color: #3040E5;
}

.application {
  margin-bottom: 2rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.application .application__details {
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.application .application__details .application__content {
  padding: 20px 30px;
  cursor: pointer;
}
.application .application__details .application__content .application__content-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.application .application__details .application__content .application__content-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #F4F6FB;
  position: relative;
}
.application .application__details .application__content .application__content-image:hover {
  box-shadow: 0 0 5px 5px #e2e2e2;
  transform: scale(1.3);
  transition: 0.5s;
}
.application .application__details .application__content .application__content-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.application button {
  width: 80%;
  background-color: #F4F6FB;
  border: none;
  border-radius: 45px;
  padding: 8px 0;
  font-size: 1rem;
  font-weight: 500;
}
.application button:hover {
  box-shadow: 0 0 20px 2px #a5a5a5;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}

.footer {
  background-color: var(--main-bg-light-gray-color);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__container {
  margin-bottom: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__container .footer__left-social-links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.footer .footer__container .footer__right button {
  width: 167px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 43px;
  border: none;
  background-color: #3040E5;
}
.footer .footer__container .footer__right button:hover {
  box-shadow: 0 0 20px 2px #a5a5a5;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s ease;
}

@media (max-width: 575px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .navbar__brand {
    display: none;
  }
  .navbar__menu {
    position: fixed;
    padding: 80px 0;
    left: -100%;
    top: -18px;
    gap: 30px;
    flex-direction: column;
    background-color: #3a3a3a;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }
  .navbar__menu .navbar__item a {
    color: #fff;
    font-size: 24px;
  }
  .navbar__menu.active {
    left: 0;
  }
  .hamburger {
    display: block;
  }
  .content__title {
    font-size: 18px;
    font-weight: 500;
  }
  .main-content .content .content__detail {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 60px;
  }
  .main-content .content .content__description {
    line-height: 1.4rem;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .content__buttons {
    flex-direction: column;
    gap: 20px;
  }
  .container__child {
    flex-direction: column;
  }
  .container__child .container__left {
    background-color: #050519;
  }
  .section {
    width: 100%;
  }
  .section .container .container__child .container__right img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .application .application__details {
    margin: 0;
    grid-template-columns: 1fr;
  }
  .application .application__details .application__content {
    padding: 5% 10%;
  }
  .footer__container {
    flex-direction: column;
    gap: 30px;
  }
  .footer__container .footer__right {
    align-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */